# Gradle ve Build klasörleri
.gradle/
build/
/build
/captures

# Idea yapýlandýrmalarý
.idea/
*.iml
*.iws
local.properties

# Diðerleri
.DS_Store
.externalNativeBuild
.cxx

# Keystore ve imzalama dosyalarý
*.jks
*.keystore
key.properties
signing.properties